{% extends 'base.html' %}
{% load static %}
{% block base %}

</div>
<!--organicfood wrapper end-->

<!--breadcrumb area start-->
<div class="breadcrumb_container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <nav>
                    <ul>
                        <li><a href="{% url 'index' %}">Home ></a></li>
                        <li>Cart</li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<!--breadcrumb area end-->
<div class="cart_main_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form action="#">
                    <div class="table-content table-responsive">
                        <table>
                            <thead>
                                <tr>
                                    <th class="img-thumbnail">Image</th>
                                    <th class="product-name">Product</th>
                                    <th class="product-price">Price</th>
                                    <th class="product-quantity">Quantity</th>
                                    <th class="product-subtotal">Total</th>
                                    <th class="product-remove">Remove</th>
                                </tr>
                            </thead>
                            {% for i in cart_product %}
                            <tbody>
                                <tr>
                                    <td class="product-thumbnail"><img src="{{i.prod_name.product_image.url}}" alt="">
                                    </td>
                                    <td class="product-name"><a href="#">{{i.prod_name}}</a></td>
                                    <td class="product-price"><span class="amount">{{i.prod_name.price}}</span></td>
                                    <td class="product-quantity">
                                        <div class="quickview_plus_minus quick_cart">
                                            <div class="quickview_plus_minus_inner">
                                                <div class="cart-plus- cart_page">
                                                    <a href="/minus/{{i.id}}">-</a>

                                                    <input type="text" value="{{i.qty}}" name="qtybutton"
                                                        class="cart-plus--box">
                                                    <a href="/plus/{{i.id}}">+</a>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="product-subtotal">{{i.price}}</td>
                                    <td class="product-remove"><a href="{% url 'delete' i.id %}">x</a></td>
                                </tr>
                            </tbody>
                            {% endfor %}
                        </table>
                    </div>
                    <div class="row table-responsive_bottom">
                        <div class="col-lg-7 col-sm-7 col-md-7">
                            <div class="buttons-carts">
                                <a href="{% url 'shop' %}">Continue Shopping</a>
                            </div>
                        </div>
                        <div class="col-lg-5 col-sm-5 col-md-5">
                            <div class="cart_totals  text-right">
                                <h2>Cart Totals</h2>
                                <div class="cart-subtotal">
                                    <span>Subtotal</span>
                                    <span>{{total}}</span>
                                </div>
                                <div class="order-total">
                                    <span><strong>Total</strong> </span>
                                    <span><strong>{{total}} </strong> </span>
                                </div>
                                <div class="wc-proceed-to-checkout">
                                    <a href="/checkout/">Proceed to Checkout</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}